.componentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  background-color: rgba(85, 85, 85, 0.5);
  font-size: 1.25rem;
}

.title-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  height: 100%;
  flex-grow: 1;
  color: white;
}

.title {
  margin: 0;
  font-size: 1.25rem;
}

.amount {
  margin: 0;
  background-color: rgb(53, 0, 53);
  font-weight: 600;
  padding: 5px 13px;
  border-radius: 8px;
  border: white solid 0.8px;
}
